<?xml version="1.0" encoding="UTF-8"?>
<configuration
        xmlns="http://cn.qos.logback/xml/ns/logback"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback logback.xsd">

    <!--控制输入 格式控制-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--文件名称-->
        <file>logFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--每天产生一个新的日志文件-->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!--保留7天的日志-->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%data-{HH:mm:ss} [%-5level] [%thread] %logger{17} - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.mikasa" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="io.netty.handler.logging.LoggingHandler" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>